<div ng-repeat='axis in gamepadData.roundedAxes track by $index ' class="col-xs-5 col-sm-4 col-md-3 col-lg-2 axis-config">
  <div class="panel panel-default" ng-class="{'unselected': !isSelected($index)}">
    <div class="panel-body container-fluid" ng-class="{'pressed': axis != 0 }">
      <div>
        <label>
          <input type="checkbox" ng-checked="isSelected($index)" ng-click="toggleAxis($index)">Axis: {{$index +1}}</label>
      </div>
      <div>
        <label>Value:
          <span class="button-value">{{axis}}</span>
        </label>
      </div>
    </div>
  </div>
</div>