<div ng-repeat='button in gamepad.gamepad.buttons' class="col-xs-6 col-sm-5 col-md-4 col-lg-3 button-config">
  <div class="panel panel-default" ng-class="{'unselected':!gamepad.config.buttons[$index]}">
    <div class="panel-body container-fluid" ng-class="{'pressed':gamepad.gamepad.buttons[$index].value}">

      <div class="row">
        <div class="col-xs-6 col-lg-7">
          <label>
            <input type="checkbox" ng-model="gamepad.config.buttons[$index]">
            Button: {{$index +1}}
          </label>
        </div>

        <div class="col-xs-6 col-lg-5 pull-right">
          <label>
            Value: 
            <span class="button-value">{{gamepad.gamepad.buttons[$index].value}}</span>
          </label>

        </div>
      </div>
    </div>
  </div>
</div>