<div class="container-fluid">

  <!--Configuration panel-->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>{{panelTitle}}</h4>
        </div>
      </div>
      <div class="panel-body container-fluid">
        <div class="row">

          <!--single button configuration-->
          <div ng-repeat='item in configItems' class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
            <div class="panel panel-default" ng-class="{'unselected':!configItems[$index]}">
              <div class="panel-body container-fluid" ng-class="{'pressed':gamepad.gamepad.buttons[$index].value}">

                <div class="row">
                  <div class="col-xs-6 col-lg-7">
                    <label>
                      <input type="checkbox" ng-model="configItems[$index]">
                      Button: {{$index +1}}
                    </label>
                  </div>

                  <div class="col-xs-6 col-lg-5 pull-right">
                    <label>
                      Value: 
                      <span class="button-value">{{configItems[$index].value}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Single button configuration -->

        </div>
      </div>
    </div>
  </div>
</div>
