<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>{{panelTitle}}</h4>
        </div>
      </div>
      <div class="panel-body container-fluid">
        <div class="row">
          
          <div ng-if="configType == 'button'" cp-button-config cp-gamepad-config='gamepad'> </div>
          <div ng-if="configType == 'axis'" cp-axis-config cp-gamepad-config='gamepad'></div>
        </div>
      </div>
    </div>
  </div>
</div>
